h1{
    color: rgba(170, 9, 23, 0.658);
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
    font-family: fantasy;
}
h2{
    text-decoration: double red underline;
}
p3{
    text-decoration: pink line-through;
}