div{
    width: 400px;
    height:200px;
    background-color: rgb(61, 158, 61);
    margin: 10px auto;
    background-image: url("bgimg.jpeg");
    /*background-size: contain;*/
    background-size: cover;
}