.card{
    width: 200px ;
    height: 500%;
    border: 2px  solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(50, 12, 12);
    transition: 0.5s;
}
.desc{
    padding: 0 2px 0 ;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 10px 10px 16px rgb(40, 16, 18) ;
}