div{
    height: 100px;
    width: 100px;
    background-color: seagreen;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}
#static{
    background-color: yellow;
    position: static;
}
#relative{
    background-color: rgb(255, 247, 0);
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute{
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed{
    background-color: rgb(255, 94, 0);
    position: fixed;
    top: 100px;
    left: 100px;
}