div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 255, 123);
    margin: 10px auto;
    box-shadow: 2px 2px 8px black;
    }
div:hover {
    box-shadow: 2px 2px 8px red;
    }