.face{
   width: 400px;
   height: 400px;
   background-color: #ffa511; 
   border-radius: 50%;
}
.mouth{
  width: 200px; 
  height: 75px;
  background-color: rgb(185, 58, 58); 
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 250px;
  left: 100px;

}
.lefteye,
.righteye{
  width: 50px;
  height: 50px;
  background-color: #231a1a;
  border-radius: 50%;
  display: inline;
  position: absolute;
  left: 100px;
  top: 100px;
}
.righteye{
    left: 250px;
}