div{
    height: 200px;
    width: 500px;
    background-color: goldenrod;
    border-width: 5px;
    border-color: black;
    border-style: dotted;
    border-left-color:blue ;
    border-left-style: double;
    padding-top: 10px;
    margin: 20px 30px 40px 50px;
}
h1{
    border-width: 2px;
    border-right: dashed;
    border-color: purple;
}
button{
    border: 2px solid black;
    border-radius: 30%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(215, 182, 139);
}