section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 255, 123);
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n){
background-color: rgb(255, 255, 113);
}
div:nth-of-type(3n){
    background-color: rgb(247, 247, 9);
}
/*Transform */
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translate(100px,100px);
}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(30deg) translateX(150px);
}